<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="/javascripts/chat_script.js"></script>
    <link rel="manifest" href="/manifest.json" />
  </head>
  <!-- Service working Implementation should be uncommented at the end of the project -->
  <!-- <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("/sw.js", { scope: "/" });
    }
  </script> -->
  <script
    src="/tw-elements/dist/js/tw-elements.umd.min.js"
    type="text/javascript"
  ></script>
  <body onload="init()">
    <div class="flex flex-col h-screen">
      <div class="flex flex-col h-screen mx-5" id="chat_messages">
        </div>
        <div class="mx-5">
            <input
              type="text"
              name="text"
              placeholder="Type your message here"
              class="w-full p-2 border border-gray-300 rounded"
              id="chat_input"
            />
            <button
              onclick="sendMessage()"
              class="w-full p-2 mt-2 bg-blue-500 text-white rounded"
            >
              Send
            </button>
        </div>
      </div>
    </div>
  </body>
</html>
