<!DOCTYPE html>
<html data-theme="cupcake">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add Plant Sighting</title>
  <link rel="stylesheet" href="/css/output.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    /* CSS Styles for Styled Location Symbol */
    .location-button {
      font-size: 1.5rem; /* Adjust the font size to make the icon larger */
      color: #333; /* Change the color of the icon */
      cursor: pointer; /* Change cursor to pointer on hover */
      transition: transform 0.3s; /* Add transition for smoother animation */
    }

    /* Hover Effect: Scale Up */
    .location-button:hover {
      transform: scale(1.2); /* Scale up the icon on hover */
    }
  </style>
</head>

<div class="container mx-auto p-4 flex justify-center items-center">
  <div class="bg-white rounded-lg shadow-md p-6 w-full md:w-3/4 lg:w-1/2">
    <h1 class="text-3xl font-bold mb-4 text-center">Add Plant Sighting</h1>
    <form action="/submitPlant" method="POST" enctype="multipart/form-data ">
      <!-- Plant Name -->
      <div class="mb-4">
        <div class="w-full">
          <label for="plantName" class="block">Plant Name:</label>
          <input
                  type="text"
                  id="plantName"
                  name="plantName"
                  required
                  class="input input-bordered w-full"
          />
        </div>
      </div>
      <!-- Date and Time Seen and Location -->
      <div class="mb-4 flex flex-col justify-between sm:flex-row">
        <div class="w-full mr-2">
          <label for="date" class="block">Date and Time Seen:</label>
          <input
                  type="datetime-local"
                  id="date"
                  name="date"
                  required
                  class="input input-bordered w-full max-w-xs"
          />
        </div>
        <div class="w-full sm:ml-2">
          <label for="location" class="block">Location:</label>
          <div class="flex">
            <% include location.ejs %>
            <input
                    type="text"
                    id="location"
                    name="location"
                    required
                    class="input input-bordered w-full max-w-xs"
                    placeholder="Click the icon to get current location"                      readonly
            />

          </div>
        </div>
      </div>
      <!-- Description -->
      <div class="mb-4">
        <label for="description" class="block">Description:</label>
        <textarea
                id="description"
                name="description"
                rows="4"
                required
                class="input input-bordered w-full h-30"
        ></textarea>
      </div>

      <!-- Height and Spread -->
      <div class="mb-4 flex flex-col justify-between sm:flex-row">
        <div class="w-full mr-2">
          <label for="height" class="block">Height (in cm):</label>
          <input
                  type="number"
                  id="height"
                  name="height"
                  required
                  class="input input-bordered w-full max-w-xs"
                  min="0"
          />
        </div>
        <div class="w-full sm:ml-2">
          <label for="spread" class="block">Spread (in cm):</label>
          <input
                  type="number"
                  id="spread"
                  name="spread"
                  required
                  class="input input-bordered w-full max-w-xs"
                  min="0"
          />
        </div>
      </div>

      <!-- Plant Characteristics  -->
      <div class="mb-4 flex flex-wrap items-center">
        <div class="w-full md:w-1/2 md:pr-2 mb-4">
          <label class="block">Plant Characteristics:</label>
          <div class="flex space-x-4">
            <label for="flowers" class="flex items-center">
              <input
                      type="checkbox"
                      id="flowers"
                      name="characteristics"
                      value=" flowers"
                      class="checkbox"
                      onclick="toggleFlowerColor()"
              />
              Flowers
            </label>

            <label for="leaves" class="flex items-center">
              <input
                      type="checkbox"
                      id="leaves"
                      name="characteristics"
                      value=" leaves"
                      class="checkbox"
              />
              Leaves
            </label>
            <label for="fruits" class="flex items-center">
              <input
                      type="checkbox"
                      id="fruits"
                      name="characteristics"
                      value=" fruits"
                      class="checkbox"
              />
              Fruits/Seeds
            </label>
          </div>
          <% include flowercolor.ejs %>
        </div>

        <!-- Sun Exposure -->
        <div class="w-full">
          <label for="sunExposure" class="block">Sun Exposure:</label>
          <select
                  id="sunExposure"
                  name="sunExposure"
                  class="input input-bordered w-full max-w-xs"
          >
            <option value="full">Full Sun</option>
            <option value="partial">Partial Sun</option>
            <option value="shade">Shade</option>
          </select>
        </div>
      </div>

      <!-- Photo Upload -->
      <div class="mb-4">
        <label for="photo" class="block">Photo Upload:</label>
        <input
                type="file"
                id="photo"
                class="file-input file-input-bordered w-full max-w-xs"
        />
      </div>
      <!-- Submit button -->
      <div class="mb-4 flex justify-center w-full">
        <button type="submit" class="btn btn-neutral w-full">Submit</button>
      </div>
    </form>
  </div>
</div>
</html>
