<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Sightings Dashboard</title>
    <link href="/css/output.css" rel="stylesheet"/>
    <link rel="manifest" href="/manifest.json"/>
</head>
<body>
<div class="grid grid-rows-4 grid-flow-col gap-4 ">
  <div>01</div>
  <div>01</div>
  <div>01</div>
</div>
<div class="flex flex-col min-h-screen bg-gray-100">
    <header class="bg-white shadow-md py-4 px-6 flex justify-between items-center">
        <h1 class="text-xl font-bold text-gray-800">Plant Sightings</h1>
        <button class="px-4 py-2 bg-green-500 hover:bg-green-700 text-white rounded-md"
                onclick="showDetails('add_plant.ejs')">Add Plant
        </button>
    </header>

    <div class="grid grid-rows-4 grid-flow-col gap-4 ">
      <div>01</div>
      <div>01</div>
      <div>01</div>
    </div>

</div>

<script>
    function showDetails(detailsPage) {
        window.location.href = detailsPage;
    }
</script>
</body>
</html>
