<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <title>Plant Sightings Dashboard</title>
    <link href="/css/output.css" rel="stylesheet"/>
    <link rel="manifest" href="/manifest.json"/>
    <script src="/javascripts/dashboard/dashboard_script.js"></script>
    <script src="/javascripts/dashboard/dashboard_render_script.js"></script>
    <script src="/javascripts/add_plant/add_plant_idb_utility.js"></script>
    <script src="/javascripts/user/user_script.js"></script>
    <script src="/javascripts/user/user_idb_utility.js"></script>
    <script src="/javascripts/user/user_render_script.js"></script>
</head>
<body onload="init()">
<div class="flex flex-col h-screen">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 p-4 mt-20" id="plantList">
    </div>
    <div class="fixed bottom-10 right-10 flex flex-row items-center">
        <div class="dropdown dropdown-top dropdown-end ">
            <div tabindex="0" role="button" class="btn bg-white shadow-2xl border-neutral border-2 btn-lg btn-circle mr-5 ">
                <svg class="w-8 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path class="fill-neutral " d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg>
            </div>
            <ul tabindex="0" class="dropdown-content  shadow-2xl menu p-2 bg-base-100 rounded-box w-52">
                <li class="py-3 px-2" onclick="sortList(0)">Sort by Date</li>
                <li class="py-3 px-2" onclick="sortList(1)">Sort by Distance</li>
            </ul>
        </div>


        <button
                class="btn btn-neutral shadow-2xl btn-lg  text-4xl text-white"
                onclick="openAddPlantPage()"
        >
            +
            <div class="text-lg">Add Plant</div>
        </button>
    </div>


    <%- include('../components/header.ejs') %>
</div>
<%- include('../components/online_offline_mode.ejs') %>
</body>
</html>
