<script src="/javascripts/dashboard_script.js"></script>

<div class="bg-white shadow-md py-4 px-6 flex justify-between w-full fixed">
    <h1 class="text-xl font-bold text-gray-800">Plantify</h1>
</div>

<button class="btn btn-neutral shadow-2xl btn-lg fixed bottom-10 right-10 text-4xl text-white" onclick="openAddPlantPage()">
    <div class="text-lg">Sort By : </div>
</button>