<script src="/javascripts/dashboard_script.js"></script>

<div class="card shadow-lg bg-white" onclick="showDetailsPage(1)">
  <img
    src="<%= plant.image %>"
    alt="<%= plant.name %>"
    class="w-full h-48 object-contain border-b-2 shadow-3"
  />
  <div class="p-4">
    <h3 class="text-lg font-medium text-gray-800">Spotted a Plant!</h3>
    <p class="text-gray-600">Location: <%= plant.location %></p>
    <p class="text-gray-600">Date/Time: <%= plant.dateTime %></p>
  </div>
</div>
