<div class="toast toast-center hidden w-1/3 " id="toast">
  <div
    class="alert alert-error w-full text-white flex place-content-center place-items-center items-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="stroke-white shrink-0 h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="stroke-white"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <div>Your Offline, Please connect to Internet</div>
  </div>
</div>

<script>
  if (navigator.onLine) {
    document.getElementById("toast").classList.add("hidden");
  } else {
    document.getElementById("toast").classList.remove("hidden");
  }

  window.addEventListener("offline", function () {
    console.log("Disconnected...so sad!!!");
    document.getElementById("toast").classList.remove("hidden");
  });
  window.addEventListener("online", function () {
    console.log("Connected...yay!!!");
    document.getElementById("toast").classList.add("hidden");
  });
</script>
