<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <link rel="stylesheet" href="/css/output.css" />
  <script src="/javascripts/chat_script.js"></script>
  <script src="/javascripts/chat-idb-utility.js"></script>
  <link rel="manifest" href="/manifest.json" />
  <script>
    plantId = '<%= plantId %>';
    loggedInUserName = '<%= userName %>';
  </script>
</head>
<!-- Service working Implementation should be uncommented at the end of the project -->
<!-- <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("/sw.js", { scope: "/" });
    }
  </script> -->
<script src="/tw-elements/dist/js/tw-elements.umd.min.js" type="text/javascript"></script>

<body onload="init()">

  <div class="flex flex-col h-full card w-full glass">
    <div class="p-4 border-b-2 flex flex-row justify-between">
      Chat on : Angel trumpet
      <div class="flex flex-row items-center">
        <div class="rounded-full  w-4 h-4 shadow-xl " id="onlineColor"></div>
        <div id="onlineText" class="pl-2"></div>
      </div>
    </div>
    <div class="flex flex-col h-full mx-5 overflow-scroll py-9" id="chat_messages">
    </div>
    <form action="" id="chat_form" class="  flex flex-row w-full border-t-2 place-content-center items-center p-3">
        <input type="text" name="text"  placeholder="Type your message here" class="w-full h-11 p-2 mr-2" id="chat_input" />
        <button class=" btn btn-neutral rounded">
          Send
        </button>
    </form>
  </div>
  </div>
  </div>
</body>

</html>