<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <link rel="stylesheet" href="/css/output.css" />
  <script src="/javascripts/chat_script.js"></script>
  <link rel="manifest" href="/manifest.json" />
  <script>
    plantId = '<%= plantId %>';
    loggedInUserName = '<%= userName %>';
  </script>
</head>
<!-- Service working Implementation should be uncommented at the end of the project -->
<!-- <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("/sw.js", { scope: "/" });
    }
  </script> -->
<script src="/tw-elements/dist/js/tw-elements.umd.min.js" type="text/javascript"></script>

<body onload="init()">

  <div class="flex flex-col h-full">
    <div class="flex flex-col h-full mx-5" id="chat_messages">
    </div>
    <form action="" id="chat_form">
      <div class="mx-5 flex flex-row h-11 ">
        <input type="text" name="text"  placeholder="Type your message here" class="w-full h-11 p-2 border border-gray-300 rounded" id="chat_input" />
        <button class=" h-11 px-4 mx-2  bg-blue-500 text-white rounded">
          Send
        </button>
      </div>
    </form>
  </div>
  </div>
  </div>
</body>

</html>