<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<form
  action=""
  id="chat_form"
  class="border-t-2 p-3 flex flex-col sm:flex-row w-full items-center justify-center"
>
  <input
    type="text"
    name="text"
    placeholder="Type your message here"
    class="w-full h-11 p-2 px-4 mb-2 sm:mb-0 sm:mr-2 input input-bordered rounded-sm"
    id="chat_input"
  />

  <button
    class="btn btn-ghost rounded mx-2 border-neutral flex flex-row items-center justify-center mb-2 sm:mb-0 w-full sm:w-auto  "
    type="button"
    onclick="sendMessage(true)"
  >
    Suggest Name
    <i class="fas fa-lightbulb ml-2"></i>
  </button>
  <button
    class="btn btn-neutral rounded flex flex-row items-center justify-center text-white mx-2 sm:mx-0 w-full sm:w-auto"
  >
    Send
    <i class="fas fa-paper-plane ml-2"></i>
  </button>
</form>
