<!DOCTYPE html>
<html data-theme="cupcake">
  <!-- Service working Implementation should be uncommented at the end of the project -->
  <!-- <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("/service_worker/details_sw.js", { scope: "/service_worker/" });
    }
  </script> -->

  <head>
    <%- include('../components/online_offline_mode.ejs') %>
    <link href="/css/output.css" rel="stylesheet" />
    <link rel="manifest" href="/manifest.json" />
  </head>
  <div class="flex flex-col h-screen w-full lg:flex-row">
    <div class="lg:w-1/2 m-5">
      <%- include('./details_component.ejs',{data:data}) %>
    </div>
    <div class="lg:w-1/2 m-5">
      <%- include('./chat.ejs', { plantId: "100" , userName: user_name }) %>
    </div>
  </div>
</html>
